<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/my/login.css">
    <title>登陆</title>
    <script type="text/javascript">
        var xmlHttp;
        function checkIt(){
            //获取文本框的值
            var account=document.getElementById("account").value;
            //先创建XMLHttpRequest对象
            if (window.XMLHttpRequest) {
                xmlHttp = new XMLHttpRequest();
            } else {// code for IE6, IE5
                xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            //服务器地址和数据
            var url="/checkLogin";
            //规定请求的类型、URL 以及是否异步处理请求。
            xmlHttp.open("GET",url,true);
            //将请求发送到服务器
            xmlHttp.send();
            //回调函数
            xmlHttp.onreadystatechange=function(){
                if (xmlHttp.readyState==4 && xmlHttp.status==200){
                    //给div设置内容
                    document.getElementById("errorAccount").innerHTML = xmlHttp.responseText;
                }
            }
        }
    </script>
</head>
<body>
<div class="wrap">
    <div class="container">
        <h1>Welcome</h1>
        <form action="/checkLogin" method="post">
            <center>
                <input type="text" placeholder="用户名" name="u_name" id="u_name"/>
                <div id="errorAccount" class="tixing"><p style="color: red;" th:text="${error}"></p> </div>
                <input type="password" placeholder="密码" name="u_passwd" id="u_passwd"/>
                <input type="submit" value="Login" onclick="checkIt()"/>
                <input type="button" value="NewUser" onclick="location.href='/newUser'"/>
            </center>
        </form>
    </div>

</div>
</body>
</html>