<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/my/index.css">
    <link rel="stylesheet" type="text/css" href="/my/show.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script >
        $(document).ready(function () {
            $("li.l").click(function(){
                $(this).siblings('li.l').removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
    <script>
        function iframeAutoHeight(){
            var iframe=document.getElementById("zhong");
            if(navigator.userAgent.indexOf("MSIE")>0||navigator.userAgent.indexOf("rv:11")>0||navigator.userAgent.indexOf("Firefox")>0){
                iframe.height=iframe.contentWindow.document.body.scrollHeight;
            }else{
                iframe.height=iframe.contentWindow.document.documentElement.scrollHeight;
            }
        }
    </script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main">回帖吧</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="l"><a href="/main">首页</a></li>
                <li class="l"><a href="/allFriend/1" target="zhong">好友</a></li>
            </ul>
        </div>

        <div>
            <form class="navbar-form navbar-left" role="search" target="zhong" action="/findArticleByUsernameOrDateOrTitle" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="s" name="s">
                </div>
                <input type="submit" class="btn btn-default" value="搜索">

            </form>

        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/newUser"><span class="glyphicon glyphicon-user"></span> 注册</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        <span th:text="${name}"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/personMain">个人中心</a></li>
                        <li><a href="/loginOut">退出</a></li>

                        <!--<li><a href="#">退出</a></li>-->
                    </ul>
                </li>
            </ul>

            <strong class="navbar-text navbar-right" th:text="${sum}"></strong>
            <p class="navbar-text navbar-right">访客人数</p>

        </div>
    </div>
</nav>


<center>
    <div class="main">
        <div class="col-md-9">
            <iframe name="zhong" id="zhong" onload="javascript:iframeAutoHeight();"
                    width="100%"  scrolling="no" frameborder="0" src="/getPageArticle/0"></iframe>
        </div>

        <div class="col-md-3" >
            <div class="wai_img">
                <div class="main_img">
                    <img src="/image/main.jpg" class="bai img-circle">
                </div>
                <div class="main_button">
                    <a href="/addTitle" target="zhong"><input type="button" class="btn btn-info" value="添加帖子"></a>
                </div>
                <div class="main_info">
                    已发<a href="/aboutArticle/0" target="zhong"><strong th:text="${sumArticle}"></strong></a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    留言<strong th:text="${sumComment}"></strong>
                </div>
                <div class="num">
                    <p>粉丝人数</p>
                    <a href="/getAllMyFans" target="zhong"><p class="num_p" th:text="${fansNum}"></p></a>
                </div>
            </div>
            <br/>
            <h3>分类</h3>
            <div class="bai">
                <div class="bgc-yellow" th:each="category:${categorys}">
                    <a th:href="@{'/getTheArticleOfCategory/'+${category.ca_name}+'/0'}" target="zhong">
                    <span th:text="'    '+${category.ca_name}+'  '"></span>
                    </a>
                </div>


            </div>
        </div>
    </div>

</body>
</html>