.message{
	width: 100%;
	overflow: hidden;
	padding: 5px 5px;
	border:1px solid #FFDEAD;
	background:#FFFFFF;
	margin-top: 30px;
}
.bai{
	width: 100%;
}
.wai_pic{
	width: 60px;
	height: 100px;
	float: left;

}
.pic{
	width: 60px;
	height: 60px;
}
.message_main{
	width:500px;
	float: left;
	height: 100px;
	margin-left:20px;
	margin-top: 10px;
}
.boreder_y{
	border:1px solid #ffcc00;background:#fffff7;

	border-radius:10px;
}
.xia{
	margin-top:10px;
	margin-left: 100px;
	overflow: hidden;
	width: 600px;
	border:1px solid #FFDEAD;
	background:#fafcfd;
}
.xia_message{
	width:400px;
	float:right;
}

.youxia{
	text-align: right;
	bottom:0px;
	line-height: 100px;
}